/*.nav a {*/
    /*display: inline;*/
/*}*/

/*div.main-Content {*/
    /*max-width: 600px;*/
    /*margin: auto;*/
/*}*/

/*div.main-Content > h3{*/
    /*text-align: center;*/
/*}*/

/*div.form-group > textarea.storyText {*/
    /*margin: auto;*/
    /*display:block;*/
    /*max-width: 100%;*/
    /*min-width: 100%;*/
/*}*/

/*form.register-form {*/
    /*max-width: 300px;*/
    /*margin: auto;*/
/*}*/

/*form.register-form > input.btn {*/
    /*text-align: center;*/
/*}*/

/*div.btnHolder {*/
    /*text-align: center;*/
/*}#cont{*/
    /*text-align: center;*/
/*}*/

/*.panel{*/
    /*margin-top: 10px;*/
/*}*/

/*.nav {*/
    /*border-radius: 0;*/
    /*border: none;*/
    /*margin: 0 0 15px;*/
/*}*/

.mainContent {
    padding-top: 50px;
}

.nav-container {
    width: 1200px;
    margin: 0 auto;
}
.navbar {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.navbar-text {
    margin: 0px;
    padding: 15px;
}
.active {
    background-color: #e7e7e7;
}